@import "georgelynch/utils";
@import "compass/reset";


body {
    background-color: #c6f4f0;    
    @include bp(1280) {       
        background-color: #f7f8c7;
    }
    @include bp(980) {       
        background-color: #bcbef7;
    }
    @include bp(767) {        
        background-color: #ffc0c0;
    }
    @include bp(480) {        
        background-color: #fff;
    }
}